<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Untitled Document</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body>
<table class="login" width="400" height="80" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="76" height="80" align="center" valign="middle">
    <img src="../img/{$imagen}" width="48" height="48" border="1"></td>
    <td width="324" align="left" valign="middle"><div align="justify">{$msg}</div></td>
  </tr>
</table></body>
</html>
