<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>{$webTitulo} :: {$secTitulo}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link href="../css/oceba.css" rel="stylesheet" type="text/css">
<link href="../css/industria.css" rel="stylesheet" type="text/css">
<link href="../css/wforms.css" rel="stylesheet" type="text/css">
<link href="../css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link id="page_favicon" href="../img/ecor.ico" rel="icon" type="image/x-icon" />
<link href="../css/ui-lightness/jquery-ui-1.9.2.custom.css" rel="stylesheet" type="text/css">

<!--boostrap-->
<link href="../css/assets/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/assets/stylesheets/pixel-admin.css" rel="stylesheet" type="text/css">


<!-- Fin -->
{literal}
<script>
	function cargado() {
		$("#radio").buttonset();
	}
</script>
<style>
#radio { 
	width:775px; 
	position:absolute; 
	margin-top:-54px; 
	text-align:center;
}
</style>
{/literal}
<link href="../css/wforms-jsonly.css" rel="alternate stylesheet" type="text/css" title="stylesheet activated by javascript">
</head>
<body leftmargin="0" topmargin="0" onLoad="cargado()">
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0" background="../img/fp-blanco.jpg">
  <!--DWLayoutTable-->
  <tr align="center" valign="middle"> 
    <td class="pull-left col-md-5  col-sm-12">
		<div class="navbar-header pull-left">
			<img src="../img/logo_header.png" width="50%" border="0" usemap="#Map">
			
			<!--<div id="radio">
				<input type="radio" id="radio1" name="radio" onClick="location.href = '/mercados/remoteAuthCli.php'" /><label for="radio1">Calidad</label>
				<input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">Mercados</label>
			</div> -->
		</div>
	</td>
    
  </tr>
  <tr valign="middle" width="">{include file=$menu}</tr>
  <tr valign="middle">
    <td  bgcolor="#FFFFFF">
	 <table border="0" cellspacing="1" cellpadding="1" >
	   <tr> 
       <!--DWLayoutTable-->
	  {section name=menu loop=$links} 
		{if $links[menu] != null } 				
        	<td width="100" align="center" valign="middle" height="19"> 
			  <div align="center">
			  	{if $smarty.server.SCRIPT_NAME|replace:$links[menu].pgn:""|cat:$links[menu].pgn == $smarty.server.SCRIPT_NAME}
					<span style="color: #D21A34; font-size: 13px;'"><b>{$links[menu].item}</b>	</span>		
				{else}	
					<a class="link2" title="{$links[menu].alt}" href="{$links[menu].pgn}">{$links[menu].item}</a>
	    		{/if}
	    	  </div>
		    </td>
		{/if}
      {/section}
	   <td width="120">&nbsp;</td>
       <td width="120">&nbsp;</td>
       <td width="120">&nbsp;</td>		 
		</tr>
		<tr> 
       <!--DWLayoutTable-->
	  {section name=submenu loop=$sublinks} 
		{if $sublinks[submenu] != null } 				
        	<td width="20" > 
			  <div align="left">{if $smarty.server.SCRIPT_NAME|replace:$sublinks[submenu].pgn:""|cat:$sublinks[submenu].pgn == $smarty.server.SCRIPT_NAME} <span class="texto_negro">{$sublinks[submenu].item} </span>			
				{else}
					<a class="link3" title="{$sublinks[submenu].alt}" href="{$sublinks[submenu].pgn}">{$sublinks[submenu].item}</a> 
			{/if}
		    </div></td>
		{/if}
      {/section}
	   <td width="120">&nbsp;</td>
      <td width="120">&nbsp;</td>
      <td width="120">&nbsp;</td>		 
	  </tr>
	  </table>
	</td>
  </tr>
  <tr valign="middle">
    <td align="right" valign="top" bgcolor="#FFFFFF">{if $usuario}<span class="texto_negro"></b>{if $modulo}
		 MODULO: <b> {$modulo|upper}{/if}</span>{/if}</td>
  </tr>
  <tr> 
    <td align="center" width="100%" valign="top"><table width="100%"><td align="top" width="50%">{$superiorizquierdo}</td><td align="top">{$superiorderecho}</td></table>
    </td>
		

  </tr>
  <tr> 
    <td height="372" align="center" valign="top">
    <div align="center">{$body}</div>
    <div align="center">{$body_grilla}</div>
    	{if $include_file}            
    		{include file=$include_file}
    	{/if}
		<br />
    </td>
  </tr>
  <br />
  <tr> 
    <td>{include file="pie.htm"}</td>
  </tr>
</table>
<map name="Map">
  <area shape="rect" coords="14,2,302,150" href="../home/home.php">
</map>

<!-- carga de archivos javascripts -->
<script src="../js/jquery-1.8.3.js"></script>
<script src="../js/jquery-ui-1.9.2.custom.min.js"></script>
<!-- Pixel Admin's javascripts -->
<script src="../css/assets/javascripts/bootstrap.js"></script>
</body>
</html>
