<!-- <p align="center">Si no recuerda su clave cliquee <a class="link1" href="home/cambiar_clave.php">aqu&iacute;</a> </p> -->
<table width="100%"  border="0" cellpadding="2" cellspacing="1">
  <tr align="center"> 
    <td colspan="2"> 
      <!-- <a class="link2" href="login.php">INGRESAR 
      AL SISTEMA</a>-->
      <font face="Verdana, Arial, Helvetica, sans-serif"><strong>INGRESO AL SISTEMA</strong></font>	
    </td>
  </tr>
  <tr align="center" class="Texto_Menu_Sistemas_link"> 
    <td height="22" colspan="2"><hr></td>
  </tr>
  <tr align="center" class="Texto_Menu_Sistemas_link"> 
    <td width="50%" height="22"><font size="2"><strong>Productores Minero de la 
      Pcia. de Bs. As.</strong></font></td>
    <td width="50%"><font size="2"><strong>No Productores Mineros de la Pcia. 
      Bs.</strong></font></td>
  </tr>
  <tr valign="top"> 
    <td width="50%"> <div align="justify"> 
        <ol>
          <li>Deber&aacute; completar el formulario de registraci&oacute;n con 
            su n&uacute;mero de Productor Minero.</li>
          <li>Finalizado el registro estar&aacute; en condiciones de utilizar 
            el sistema.</li>
          <li>Para ingresos posteriores deber&aacute; hacerlo mediante su CUIT 
            y la clave elegida.</li>
        </ol>
      </div>
      <p align="center"><strong><a class="link1" href="home/solicitar_clave.php">Para 
        solicitar su clave de acceso cliquee aqui</a></strong></p></td>
    <td width="50%"> <div align="justify"> 
        <ol>
          <li> Deber&aacute;n completar el formulario de registraci&oacute;n. 
          </li>
          <li>Finalizado el registro estar&aacute; en condiciones de utilizar 
            el sistema.</li>
          <li>Para ingresos posteriores deber&aacute; hacerlo mediante su CUIT 
            y la clave elegida.</li>
        </ol>
      </div>
      <P>&nbsp;<BR></P>
      <p align="center"><a class="link1" href="home/registrar_empresa.php"><strong>Para 
        iniciar el registro cliquee aqu&iacute;</strong></a></p></td>
  </tr>
  <tr align="center" valign="top"> 
    <td height="40" colspan="2" valign="bottom"><font face="Verdana, Arial, Helvetica, sans-serif"><strong>REQUERIMIENTOS 
      MINIMOS</strong></font></td>
  </tr>
  <tr align="center" valign="top"> 
    <td colspan="2"><hr></td>
  </tr>
  <tr align="center" valign="middle"> 
    <td height="78"><a href="http://www.latinamerica.adobe.com/products/acrobat/readstep2.html" target="_blank">INDISPENSABLE 
      PARA IMPRIMIR<br>
      <img src="img/acrobat.gif"></a></td>
    <td height="78"><a target="_blank" href="http://www.spreadfirefox.com/?q=affiliates&amp;id=0&amp;t=77">USO 
      RECOMENDADO<br>
      <img border="0" alt="Get Firefox!" title="Get Firefox!" src="img/firefox.gif"/></a></td>
  </tr>
  <tr align="center" valign="middle"> 
    <td height="74" colspan="2">&nbsp;</td>
  </tr>
</table>










      