<!--DWLayoutTable-->
<td class="header_menu_principal">
	<table width="100%" height="35" cellspacing="2" cellpadding="2" >
	<tr valign="middle" align="center" > 
		
	  {section name=menu loop=$linksMenu} 
		  {if $linksMenu[menu] != null} 				
		  		<td width="7%" style="cursor:hand; cursor:pointer;" id="menu{$linksMenu[menu].id}" onClick="javascript:location.href='../{$linksMenu[menu].link}'" title="{$linksMenu[menu].alt}" class="menu_td"><a id="menua{$linksMenu[menu].id}" class="link1" title="{$linksMenu[menu].alt}" href="../{$linksMenu[menu].link}">&nbsp;{$linksMenu[menu].item}&nbsp;</a></td>
		  {/if}
	  {/section}
				 
		<td width="18%" align="right" class="dropdown-right btn btn-labeled btn-admin text-left" id="menu30">
			<a href="#" id="menua12" class="dropdown-toggle user-menu link3" data-toggle="dropdown">
				<span class="btn-label icon fa fa-align-justify"></span>
				<span > &nbsp;&nbsp;Bienvenido&nbsp;<b>{$usuario}</b>!</span>
			</a>
			<ul class="dropdown-menu bg-admin-menu text-bold no-margin-vr">
				<li><a id="menua12" href="../home/edicion.php"><i class="dropdown-icon fa fa-user"></i>&nbsp;&nbsp;Perfil</a></li>
				<li class="divider"></li>
				<li id="menu13"><a id="menua13" onClick="javascript: return confirm('¿Desea salir?')" href="../home/logout.php"><i class="dropdown-icon fa fa-power-off"></i>&nbsp;&nbsp;<b>Cerrar sesi&oacute;n</b></a></li>
			</ul>
		</td>
		
	</tr>
	</table>
	<script>
		var idmenu = {$smarty.session.menu_principal};
		<!--Color de Fondo del Menu correspondiente a la URI actual
		document.getElementById("menu"+idmenu).style.backgroundColor="#66c656";
		document.getElementById("menua"+idmenu).style.fontWeight="bold";
	</script>
</td>
