<!--DWLayoutTable-->
<td align="center" bgcolor="#888888">
	<table width="96%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td>
			<table class="menu" width="96%" border="0" cellspacing="0" cellpadding="0">
				<tr align="center" valign="middle" height="19"> 
				  <td width="45" id="menu1" ><a class="link1" href="../home/home.php">Inicio</a></td>          	  
				  <td width="5">|</td>
				  <td width="45" id="menu2"></td>
				  <td width="5">|</td>
				  <td width="45" id="menu2"></td>
				  <td></td>
				  <td width="45" id="menu2" align="right"><a class="link1" href="../home/edicion.php">Perfil</a></td>
				  <td width="5">|</td>
				</tr>
			</table>
		</td>
		<td align="right"><a class="link1" href="../home/logout.php">Salir</a></td>
	</tr>
	</table>	
</td>