<div class="row ">
	<div class="col-md-12 col-sm-12 col-xs-12 blanco-bk-verde">
		<div class="container">
		<img  class="col-md-3 col-sm-4 col-xs-10" src="../img/logo_footer.png"></img>
			<h3 class="pull-right col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-4 col-xs-12" >Parque Industrial Bragado.</br>
				
					
					Tel.: 02342-426931 </br>
					Ruta Nac. Nº5 Km. 209,5</br>
					www.ecoreciclar.com.ar</br>
					info@ecoreciclar.com.ar</br>
					CPB6640CIB </br>
			</h3>
		</div>
	</div>
</div>

