<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td bgcolor="#b6192a" align="center" valign="top" >
      <table width="868" style="margin-bottom:10px;" border="0" align="center" cellpadding="0" cellspacing="0">
      <br/>
      <tr>

        <td width="90" valign="top" ><a href="empresa.php" target="_self"><a href="empresa.php" target="_self"><a href="http://qr.afip.gob.ar/?qr=7AjK0-e0vtfYteLWmezF2g,," target="_F960AFIPInfo"><img src="http://www.afip.gob.ar/images/f960/DATAWEB.jpg" width="64" height="86" border="0"></a></td>
        <td width="500" valign="top" class="negblanca"><br />
        	Av. 19 n&ordm; 1329 e/ 518 y 519<br />
			La Plata, Buenos Aires, Argentina<br />
         	Tel: (0221) 471-7935 / (0221) 445-4345<br />
			Cel: (221) 15 477-4083</td>
      </tr>
      </table>
    </td>
  </tr>
</table>

