<?php
	// definici?n de secci?n
	// ini_set('display_errors', 0);
	define('WEB_SECCION', 'Clientes');
		
	// definici?n de p?ginas de la seccion seguridad
	//Links del submenu
	
	/*$links1[] = array(
		   				'item'	=> 'Alta Cliente',
		   				'link'	=> '../clientes/alta_cliente.php',
		   				'pgn'	=> '../clientes/alta_cliente.php',
		   				'alt'	=> 'Alta Cliente'
	);
	
	$links1[] = array(
		   				'item'	=> 'Prestamos sin movimientos',
		   				'link'	=> '../prestamos/listado_prestamos_sin_movimientos.php',
		   				'pgn'	=> '../prestamos/listado_prestamos_sin_movimientos.php',
		   				'alt'	=> 'Prestamos sin movimientos'
	);*/
?>
