<?php
	$path = ini_get('include_path');
	ini_set('include_path', $_SERVER["DOCUMENT_ROOT"]."/mbhsistema/pear".PATH_SEPARATOR.$path);
	require_once('PEAR.php');
	require_once('DB/DataObject.php');
	
	$config = parse_ini_file(DATAFILE, true);
	foreach($config as $class=>$values) {
	    $options = &PEAR::getStaticProperty($class,'options');
	    $options = $values;
	}
	$_DB_DATAOBJECT_FORMBUILDER['CONFIG'] = $config['DB_DataObject_FormBuilder'];	
	
	// para que los botones tomen el estilo class.
	$options['elementTypeAttributes']  = array('submit' => array('class' => 'button'),
												'shorttext' => array('size' => '25')											
	);
?>