<?php
	$linkMenu=array();
	
    $linkMenu[] = array(
        'id' => '1',
        'item'  => '&nbsp;Inicio&nbsp;',
        'link'  => 'home/home.php',
        'pgn'   => 'home/home.php',
        'alt'   => 'Inicio'
    );

    $linkMenu[] = array(
        'id' => '8',
        'item'  => '&nbsp;Clientes&nbsp;',
        'link'  => 'clientes/index.php',
        'pgn'   => 'clientes/index.php',
        'alt'   => 'Clientes'
    );

	$linkMenu[] = array(
        'id' => '2',
        'item'  => '&nbsp;Planta&nbsp;',
        'link'  => 'planta/index.php',
        'pgn'   => 'planta/index.php',
        'alt'   => 'Planta'
    );

    $linkMenu[] = array(
        'id' => '3',
        'item'  => '&nbsp;Servicio Tecnico&nbsp;',
        'link'  => 'servicio_tecnico/index.php',
        'pgn'   => 'servicio_tecnico/index.php',
        'alt'   => 'Servicio Tecnico'
    );

    $linkMenu[] = array(
        'id' => '7',
        'item'  => '&nbsp;Empleados&nbsp;',
        'link'  => 'empleado/index.php',
        'pgn'   => 'empleado/index.php',
        'alt'   => 'Empleados'
    );

    $linkMenu[] = array(
        'id' => '9',
        'item'  => '&nbsp;Cobros&nbsp;y&nbsp;Pagos&nbsp;',
        'link'  => 'cobro_cuotas/index.php',
        'pgn'   => 'cobro_cuotas/index.php',
        'alt'   => 'Cobros y Pagos'
    );

    /*$linkMenu[] = array(
        'id' => '10',
        'item'  => '&nbsp;Presupuestos&nbsp;',
        'link'  => 'presupuesto/index.php',
        'pgn'   => 'presupuesto/index.php',
        'alt'   => 'Presupuesto'
    );*/

    $linkMenu[] = array(
        'id' => '12',
        'item'  => '&nbsp;Pa&ntilde;ol&nbsp;',
        'link'  => 'panol/index.php',
        'pgn'   => 'panol/index.php',
        'alt'   => 'Pa&ntilde;ol'
    );

	/*$linkMenu[] = array(
        'id' => '5',
     	'item'  => '&nbsp;Estadisticas&nbsp;',
        'link'  => 'listados/index.php',
        'pgn'   => 'listados/index.php',
        'alt'   => 'Listados'
    );*/
	
    $linkMenu[] = array(
        'id' => '11',
        'item'  => '&nbsp;Proveedores&nbsp;',
        'link'  => 'proveedor/index.php',
        'pgn'   => 'proveedor/index.php',
        'alt'   => 'Proveedores'
    );
    /*$linkMenu[] = array(
        'id' => '6',
        'item'  => '&nbsp;Configuraci&oacute;n&nbsp;',
        'link'  => 'configuraciones/index.php',
        'pgn'   => 'configuraciones/index.php',
        'alt'   => 'Configuraci&oacute;n'
    );*/

    $linkMenu[] = array(
        'id' => '4',
        'item'  => '&nbsp;Seguridad&nbsp;',
        'link'  => 'seguridad/index.php',
        'pgn'   => 'seguridad/index.php',
        'alt'   => 'Seguridad'
    ); 
?>