<?php
header('Content-Type: text/html; charset=utf-8');
define('WEB_TITULO', 'MBH');
define('APP_ID',5);
//ESTA APP_ID ESTA EN 5 PORQUE NUESTRA APP DE HISTORIA TIENE LA ID 5 

// Directorios
// Directorios
define('WWW_DIR','eco-reciclar-sistema');
define('ADM_DIR','admin');
define('INC_DIR', 'inc');
define('CFG_DIR', 'config');
define('IMG_DIR', 'img');
define('CMN_DIR', 'comunes');
define('FNT_DIR', 'font');
define('TMP_DIR', 'tmp');
define('TAB_DIR','tablas');
define('VAL_DIR','valores');
define('REP_DIR','reportes');
define('HOM_DIR', 'home');


// PATHs
define('ROOT_PATH', $_SERVER["DOCUMENT_ROOT"]);
define('WWW_PATH', ROOT_PATH.'/'.WWW_DIR);
define('ADM_PATH', WWW_PATH.'/'.ADM_DIR);
define('SMARTY_DIR', $_SERVER["DOCUMENT_ROOT"]."/eco-reciclar-sistema/pear/Smarty-2.6.26/libs/");

define('TPL_PATH', WWW_PATH.'/templates'); // PATH a los templates
define('INC_PATH', WWW_PATH.'/'.INC_DIR);
define('IMG_PATH', WWW_PATH.'/'.IMG_DIR);
define('CFG_PATH', WWW_PATH.'/'.CFG_DIR);
define('CMN_PATH', WWW_PATH.'/'.CMN_DIR);
define('TMP_PATH', WWW_PATH.'/'.TMP_DIR);
define('TAB_PATH', WWW_PATH.'/'.TAB_DIR);
define('FPDF_FONTPATH', INC_PATH.'/'.FNT_DIR.'/');

define('ILEGAL', 'ERROR: Acción ilegal');

setlocale (LC_TIME,'spanish');

// Si = 1 , visualiza warning/errors/notice (afectan a toda la aplicación)
ini_set('display_errors', 0);
if ($_GET['error'])
ini_set('display_errors', 1);
ini_set('include_path',ini_get('include_path').'.;'.INC_PATH.'/pear;../inc/includes');		

// Máximo número de filas por grilla (afecta a las grillas principales de cada módulo
define('MAX_FILAS', 20);

define('DB_DATAOBJECT_NO_OVERLOAD', 0);

/* Páginas de uso común */
define('PGN_INDEX', 'home/home.php');
define('PGN_LOGIN', 'home/login.php');
define('PGN_LOGOUT', 'logout.php');
define('PGN_TABLAS','tablas.php');


define('PGN_ACCESODENEGADO','home/denegado.php');
define('PGN_COMPCUADROS','comparar_cuadros.php');

/* Parámetros asociados a formularios */ 
define('FRM_NOTA', '(<font color="#FF0000">*</font>) Campo requerido.');
define('FRM_WARNING_TOP', 'Los siguientes datos son invalidos');
define('FRM_WARNING_BUTTON', 'Por favor corrige estos campos.');
define('FRM_NEW_VALOR', '-- Nuevo Valor --'); 

/* parametros de conexión con las bases de datos */
define('DATAFILE', CFG_PATH.'/data.ini');
define('DATAFILEPG', CFG_PATH.'/pgdata.ini');	
define('AUTHFILE', INC_PATH.'/auth.php');

?>
