<?php
	// definición de sección
	// ini_set('display_errors', 0);
	define('WEB_SECCION', 'Seguridad');
		
	// definición de páginas de la seccion seguridad
	//Links del submenu
	$links1[] = array(
		   				'item'	=> 'Aplicaciones',
		   				'link'	=> '../aplicaciones/index.php',
		   				'pgn'	=> '/mbhsistema/aplicaciones/index.php',
		   				'alt'	=> 'Aplicaciones'
	);
	/*
	$links1[] = array(
		   				'item'	=> 'Areas',
		   				'link'	=> '../areas/index.php',
		   				'pgn'	=> '/arhf/areas/index.php',
		   				'alt'	=> 'Areas'
	);
	*/
	$links1[] = array(
		   				'item'	=> 'M&oacute;dulos',
		   				'link'	=> '../modulos/index.php',
		   				'pgn'	=> '/mbhsistema/modulos/index.php',
		   				'alt'	=> 'Modulos'
	);
	
	$links1[] = array(
		   				'item'	=> 'Permisos',
		   				'link'	=> '../permisos/index.php',
		   				'pgn'	=> '/mbhsistema/permisos/index.php',
		   				'alt'	=> 'Permisos'
	);
	
	$links1[] = array(
		   				'item'	=> 'Roles',
		   				'link'	=> '../roles/index.php',
		   				'pgn'	=> '/mbhsistema/roles/index.php',
		   				'alt'	=> 'Roles'
	);
	
	$links1[] = array(
		   				'item'	=> 'Tipos<br/>Acceso',
		   				'link'	=> '../tipos_acceso/index.php',
		   				'pgn'	=> '/mbhsistema/tipos_acceso/index.php',
		   				'alt'	=> 'Tipos Acceso'
	);
	
	$links1[] = array(
		   				'item'	=> 'Usuarios',
		   				'link'	=> '../usuarios/index.php',
		   				'pgn'	=> '/mbhsistema/usuarios/index.php',
		   				'alt'	=> 'Usuarios'
	);
?>